@media (max-width: 700px) {
	.content {
	background: red;
	width: 80%;
	margin: 0 auto;
	margin-top: 50px;
	font-family: "Caveat", cursive;
	font-size: 24px;
	font-weight: 400;
	font-style: normal;
}
}
@media (max-width: 1000px) {
	.content {
	background: green;
	width: 80%;
	margin: 0 auto;
	margin-top: 50px;
	font-family: "Caveat", cursive;
	font-size: 24px;
	font-weight: 400;
	font-style: normal;
}
}
@media (min-width: 1001px) {
	.content {
	background-image: url('bg.jpg');
	width: 80%;
	margin: 0 auto;
	margin-top: 50px;
	font-family: "Caveat", cursive;
	font-size: 24px;
	font-weight: 400;
	font-style: normal;
}
    .body {
		background-image: url('bgb.jpg');
	}
}

.container-fluid {
	display: inline
}
.icon-container {
	transition: 2s;
	text-align: center;
}
.icon-container:hover {
	transform: rotate(1turn)
}
