@media (max-width: 700px) {
	.contentwrapper {
	background-image: url('bg.jpg');
	background-position: center center;
	background-size: cover;
	border-radius: 50px;
	background-repeat: no-repeat;
	width: 80%;
	margin: 0 auto;
	margin-top: 50px;
    }
    .content {
		width: 95%;
	margin: 0 auto;
	margin-top: 50px;
	}
	.login {
		display: flex;
		justify-content: center;
		flex-direction: column;
		background-image: url('bglogin.png');
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
		width: 30%;
		margin: 0 auto;
		margin-top: 50px;
		height: 500px;
	}
}
@media (max-width: 1000px) {
	.contentwrapper {
	background-image: url('bg.jpg');
	background-position: center center;
	background-size: cover;
	border-radius: 50px;
	background-repeat: no-repeat;
	width: 80%;
	margin: 0 auto;
	margin-top: 50px;
    }
    .content {
		width: 95%;
	margin: 0 auto;
	margin-top: 50px;
	}
	.login {
		display: flex;
		justify-content: center;
		flex-direction: column;
		background-image: url('bglogin.png');
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
		width: 30%;
		margin: 0 auto;
		margin-top: 50px;
		height: 500px;
	}
}
@media (min-width: 1001px) {
	.contentwrapper {
	background-image: url('bg.jpg');
	background-position: center center;
	background-size: cover;
	border-radius: 50px;
	background-repeat: no-repeat;
	width: 80%;
	margin: 0 auto;
	margin-top: 50px;
    }
    .content {
		width: 95%;
	margin: 0 auto;
	margin-top: 50px;
	}
	.login {
		display: flex;
		justify-content: center;
		flex-direction: column;
		background-image: url('bglogin.png');
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
		width: 30%;
		margin: 0 auto;
		margin-top: 50px;
		height: 500px;
	}
}
.content {
	font-family: "Caveat", cursive;
	font-size: 24px;
	font-weight: 400;
	font-style: normal;
}
h1 {
	font-weight: 900;
}
.loginbox {
		text-align: center;
}
.loginimg {
		width: 50%;
		justify-content: center;
		margin: 0 auto;
}
.input {
	background-image: url('bg.jpg');
	border-radius: 10px;
}
body {
		background-image: url('bgb.jpg');
}
.container-fluid {
	display: inline
}
.icon-container {
	transition: 0.5s;
	text-align: center;
	height: 100px;
	width: 100px;
	margin: 0 auto;
}
.icon-container:hover {
	transform: rotate(0.03turn) scale(105%);
}
.iconstatic-container {
	text-align: center;
	height: 100px;
	width: 100px;
	margin: 0 auto;
}
.pagenav {
	width: 100%;
	display: inline-block;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-image: url('bglogin.png');
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 50%;
	margin-top: 50px;
	height: 300px;
}
.navbar {
	background-image: url('bg.jpg');
}
img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
	position: static;
	top: 50%;
	bottom: 50%;
}
.fin {
	text-align: center;
	font-weight: 900;
	font-size: 36px;
}
footer {
	font-family: "Caveat", cursive;
	font-size: 24px;
	font-weight: 900;
	font-style: normal;
	color: white;
	background-image: url('bgb2.jpg');
	margin-top: 100px;
}
.footertitle {
	font-size: 36px;
}
.carousel-inner > .carousel-item > img {
	width: auto;
	height: 500px;
	object-fit: contain;
}
.carousel-control-prev {
	margin-left: 17%;
}
.carousel-control-next {
	margin-right: 17%;
}